

div.searchArea  {
    height: 100%;
    width: 100%;
    margin: 100px auto;

}

div.input-field.radiusInput {
 width: 200px !important;   
}

div.results-area {
    height: 100%;
    width: 100%;
    margin: 100px auto;

}

input#userRadius {
    width: 150px;
    margin: 0 auto;
}

input#zipInput {
    width: 150px;
}

.meetup-logo {
    width: 250px;
    height: 250px;
    margin-bottom: -160px;
}