div.searchArea  {
    height: 100%;
    width: 100%;
    /* margin: 100px auto; */

}

div.input-field.radiusInput {
 width: 200px !important;   
}

div.results-area {
    height: 100%;
    width: 100%;
    margin-top: 25px;

}

input#userRadius {
    width: 150px;
    margin: 0 auto;
}

input#zipInput {
    width: 150px;
}

.meetup-logo {
    width: 250px;
    /* height: 250px; */
   margin-top: 10px;
}

.meetupBtn {
    background-color: rgb(66, 66, 129);
    color: white;
}

.meetupBtn:active{
    background-color: white;
    color:rgb(66, 66, 129); 
}

.meetupBtn:focus{
    background-color: white;
    color:rgb(66, 66, 129); 
}

.meetupBtn{
    position: fixed;
    top: 100px;
    left: 0;
    padding: 0px;
    height: 145px;
    float:left;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    z-index: 1000;
  }
