/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

a,
nav {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgb(43, 43, 83);
}
.parallax-container .section {
  width: 100%;
}

.nav-wrapper {
  width: 90%;
}

#email {
  margin-right: 10px;
}

#navbar {
  background: linear-gradient(rgb(43, 43, 83), rgb(66, 66, 129));
  color: white;
  /* background-color: rgb(43, 43, 83); */
}
#logo-container img {
  margin-top: 5px;
  width: 60%;
}

.x {
  background: linear-gradient(gray, rgb(92, 92, 92));
  color: rgb(88, 88, 88);
  width: 60px;
  padding: 25px;
  padding-left: 26px;
  margin-right: auto;
  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid rgb(88, 88, 88);
  font-size: 125%;
  font-weight: bold;
}

.x:hover {
  color: rgb(141, 141, 141);
  box-shadow: inset -9px 0 9px -7px rgba(0, 0, 0, 0.4);
}

.title{
  float:left;
}

.question{
  color: white;
}

.btn:hover{
  color: white;
}

#download-button{
  color: white;
}

#navLoginButton:active{
  background-color: rgb(66, 66, 129);

}

#navLoginButton:focus{
  background-color: white;

}

#navSignUpButton:active{
  background-color: rgb(66, 66, 129);

}
#navSignUpButton:focus{
  background-color: white;

}

#download-button:active{
  background-color: rgb(66, 66, 129);

}
#download-button:focus{
  background-color: rgb(43, 43, 83);

}

.tabs{
  border-bottom: 2px solid rgb(43, 43, 83);
}

label .active{
  /* border-bottom: 1px solid rgb(43, 43, 83); */
  color: rgb(43, 43, 83);
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
